[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.20.0"
pytaglib = "==1.4.3"
discogs-client = "*"
cython = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.6"
